@import 'bootstrap';

.visited{
  background-color: #ccc !important;

  .btn-primary{
    background-color: #666 !important;
    border-color: #666 !important;
  }
}

.pagination{
  width: 100%;
  text-align: center;
  font-size: 28px;
}
